{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}
{% block page_checkout_finish_product_table %}
<style>
      .tings-snippet {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; /* Center items by default */
        max-width: 1000px;
        margin: 20px 0;
        margin-inline: auto;
        border: 1px solid #f1f1f5;
        border-radius: 8px;
        padding: 24px;
        gap: 16px;
        color: black;
        background: white;
        font-size: 16px;
        font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue',
          'Helvetica', 'Arial', sans-serif;
      }

      .text-container {
        text-align: center;
        flex: 1; /* Allow the text container to grow */
      }

      .logo {
        align-self: center;
        max-width: 80px;
        margin-inline-end: 16px;
      }

      .app-store-logos {
        align-self: center;
        max-width: 180px;
      }

      @media (max-width: 660px) {
        .tings-snippet {
          flex-direction: column; /* Stack items vertically */
          align-items: center; /* Center items horizontally */
        }

        .text-container {
          margin-right: 0; /* Reset the right margin */
          text-align: center; /* Center-align text */
        }

        .logo,
        .app-store-logos {
          margin: 0; /* Reset margins */
        }

        .tings-snippet:hover {
          border-color: #f1f1f5 !important; /* Disable hover effect */
        }
      }

      @media (min-width: 660px) {
        .tings-snippet {
          justify-content: flex-start; /* Align items to the left on screens wider than 660px */
        }

        .app-store-logos {
          margin-left: auto; /* Push the app store logos to the right */
        }

        .tings-snippet:hover {
          border-color: #BABEC8 !important; /* Darker border color on hover */
        }
      }
    </style>
    <a class="tings-snippet" href="https://tings.com/retailer/vpg">
        <img
        class="logo"
        src="https://res.cloudinary.com/tings/image/upload/v1714637674/public/tings-vpg-logo_iyxcfk.png"
        alt=""
        aria-hidden="true"
        />
        <div class="text-container">
        <span style="font-weight: bold">Få mer ut av tingene dine med&nbsp;Tings&#8209;appen</span><br />
        <span style="color: grey">Enkel tilgang på kvittering, reparasjon og&nbsp;bruktsalg&nbsp;✨</span>
        </div>
        <img
        class="app-store-logos"
        src="https://res.cloudinary.com/tings/image/upload/v1714637675/public/app-store-logos_zbxfyi.png"
        alt="Last ned fra App Store eller Google Play"
        />
    </a>
    {{ parent() }}
{% endblock %}
